body {
  display: flex;
  justify-content: center;
  background-color: rgb(22, 22, 22);
  margin: 0px;
}
#container {
  background-color: rgb(17, 17, 17);
  height: 100%;
  width: 50%;
}
.entry .project-content img {
  height: 25%;
  width: 25%;
}
.entry {
  padding: 40px 20px 0px 20px;
  color: azure;
}
.owner {
  display: flex;
  justify-content: space-between;
  font-family: "Calibri";
  color: azure;
  font-size: 50px;
  height: 60px;
  padding: 20px 20px 70px;
}
.owner .icons img{
height: 25px;
width: 35px;
}
.portfolio-introduction {
  margin: 100px 0px 60px;
}
#container .entry .title {
  display: flex;
  justify-content: center;
}
#container .navbar a {
  padding: 10px 20px;
  font-family: "Calibri";
  color: azure;
  text-decoration: none;
}
#container .navbar a:hover {
  background-color: gray;
}
.navbar ul {
  float: left;
  padding: 0px;
}

.navbar ul li {
  float: left;
  list-style: none;
  position: relative;
}
.navbar ul li a {
  display: block;
}

.navbar ul li ul {
  display: none;
  position: absolute;
}
.navbar ul li:hover ul {
  display: block;
}

p {
  font-family: "Calibri";
  color: azure;
}

strong {
  font-family: "Calibri";
  color: azure;
  margin-top: 15px;
  margin-bottom: 15px;
}
#container .entry .project-title {
  display: flex;
  justify-content: center;
  margin: 60px 0px 10px 0px;
  font-size: 30px;
  width: 100%;
}

#container .entry .game-informations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Calibri";
}

.entry .game-informations .row-data {
  padding: 10px;
}

#container .entry .play-button {
  background-color: grey;
  margin: 10px 0px;
  padding: 5px 0px;
}

#container .entry .play-button a {
  text-decoration: none;
  font-family: "Calibri";
  padding: 10px;
}
#container .entry .play-button a:visited {
  color: aliceblue;
}
.project-image img {
  width: 100%;
  margin: 25px 0px;
  overflow: hidden;
}

.nebulapower-introduction {
  display: flex;
  margin-top: 100px;
}
.entry .project-content .project-explanation p {
  margin-right: 0px;
  font-size: 20px;
  width: 90%;
}
.nebulapower-part1 {
  display: flex;
  margin-top: 100px;
}
.nebulapower-part2 {
  display: flex;
  margin-top: 100px;
}
.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}
.gallery img {
  width: 100%;
}

.Copyright {
  color: aliceblue;
  display: flex;
  justify-content: center;
  background-color: rgb(8, 8, 8);
  font-family: "Calibri";
  margin-top: 15px;
}
@media screen and (max-width: 600px) {
  #container {
    background-color: rgb(17, 17, 17);
    height: 100%;
    width: 100%;
  }
  .entry .project-content img {
    height: 40%;
    width: 40%;
  }
  .entry .project-content .project-explanation p {
    margin-right: 0px;
    font-size: 15px;
    width: 90%;
  }
}